/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace itemRenderers "controller.classes.itemRenderers.*";


s|Button#home{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#home:over{
	chromeColor: #304B84;
}

s|Button#clicksProjection{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#clicksProjection:over{
	chromeColor: #304B84;
}

s|Button#detailedBankingPartners{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#detailedBankingPartners:over{
	chromeColor: #304B84;
}

s|Button#bankingPartnersList{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#bankingPartnersList:over{
	chromeColor: #304B84;
}

s|Button#goodPartners{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#goodPartners:over{
	chromeColor: #304B84;
}

s|Button#badPartners{
	color: #000000;
	chromeColor: #AAAAAA;
}

s|Button#badPartners:over{
	chromeColor: #304B84;
}

mx|Text{
	color: #FFFFFF;
}

s|DefaultGridHeaderRenderer{
	color: #FFFFFF;
	/*chromeColor: #B0B0B0;*/
	chromeColor: #AAAAAA;
}

s|GridItemRenderer{
	/*color: #FFFFFF;*/
	/*chromeColor: #B0B0B0;*/
	/*chromeColor: #AAAAAA;*/
}

s|BorderContainer{
	backgroundColor : #304B84;
	borderColor : #FFFFFF;
}

s|BorderContainer#detailedClicksProjection{
	borderVisible : true;
	borderColor : #304B84;
}

s|BorderContainer#bankingPartnersList{
	borderVisible : true;
	borderColor : #304B84;
}

s|BorderContainer#detailedBankingPartners{
	borderVisible : true;
	borderColor : #304B84;
}

s|BorderContainer#homeScreen{
	borderVisible : true;
	borderColor : #304B84;
}

s|BorderContainer#notifications{
	backgroundColor : #FFFFFF;
}

s|CheckBox#remember{
	color: #FFFFFF;
}

/*s|Label#windowControl #title{
	color: #000000;
}*/
